.imgArticle {
    display: flex;
    justify-content: center;
    gap: 1rem;    
    margin: 4rem 0rem;

    img {
        display: block;
        width: 10%;
        height: 60vh;
        object-fit: cover;        
        border-radius: 1rem;

        &.active {
            width: 50%;
        }
        
    }
}